/* contains all styling related to favourites.html page */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(155, 155, 155);
}

.meal-nav {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border-bottom: 2px solid grey;
    height: 10vh;
    color: black;
    box-shadow: 1px 1px grey;
    opacity: 0.7;
}

.meal-nav img {
    height: 3.6em;
    border-radius: 50%;
    padding: 4px;
    vertical-align: middle;
}

.navbar-header span {
    font-size: 1.3em;
    font-weight: 700;
    font-family: cursive;
    margin: auto 0;
}

.fav-meals{
    margin:auto 0;
    padding:2px;
}

.fav-meals a{
    color:black;
    text-decoration: none;
    font-size: 1.3em;
    font-family: cursive;
    padding: 2px;
}

.favourites-container{
    margin:auto auto;
}

.favourites-container h1{
    text-align: center;
    margin-top:1.2em;
    font-family:Cambria,Cochin,Georgia,Times,'Times New Roman',serif;
}

 h6{
    background-color: orange;
    width: fit-content;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:1em auto;
    font-size: 2em;
    padding: 4px;
} 
.favourites-container p{
    text-align: center;
    font-family:cursive;
    font-size: 1.3em;
    margin-top:1em;
}

.favourites-container img{
    height:60vh;
    display: block;
    margin:2em auto 0;
    width: 50%;
}
.favourites-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.all-meals-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.all-meals-container button {
    position: absolute;
    top: 35%;
    background: rgba(255, 255, 255, 0.7);
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
    border-radius: 8px;
    font-size: 1.2em;
    padding:3px;
    cursor: pointer;
}

.all-meals-container a {
    position: absolute;
    top: 50%;
    color: black;
    text-decoration: none;
    background: orange;
    border-radius: 10px;
    transition: opacity 0.4s ease-in;
    opacity: 0;
    padding: 4px;
}

.all-meals-container button:hover,
a:hover {
    border: 4px solid grey;
    opacity: 0.9;
}

#all-meals {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.meal-display {
    /* flex: 1 0 32%; */
    cursor: pointer;
    text-align: center;
    height: 15em;
    width: 15em;
    margin: 1em 0;
    padding: 1em;
}

.meal-display img {
    height: 10em;
    width: 100%;
    border: 3px solid grey;
    border-radius: 4px;
    padding: 2px;

}

.meal-info h5 {
    background-color: white;
    border: 3px solid black;
    padding: 2px;
    width: 100%;
}